/*common shared style */
body {
    font-family: 'Lato', sans-serif;
}

.btn-prm {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFFFFF;
    font-size: 15px;
    padding: 15px 35px;
}

/* header related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.bnr {
    display: flex;
    gap: 80px;
    align-items: center;
}

.bnr-left {
    padding-left: 100px;
}

.bnr-left-ttl {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    width: 550px;
    margin-bottom: 25px;
}

.bnr-left-p {
    color: rgba(39, 39, 39, 0.60);
    font-style: normal;
    font-weight: 400;
    width: 450px;
    margin-bottom: 25px;
}

.bnr-pic {
    width: 500px;
    padding-right: 100px;
    padding-top: 20px;
}

/* banner 2 related style */

.bnr2 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 150px;
    align-items: center;
    margin-top: 100px;
}

.bnr2-left {
    padding-left: 175px;
}

.bnr2-ttl{
    padding-left: 10px;
}

.bnr2-left-ttl {
    color: #272727;
    font-size: 25px;
    /*half of the bnr*/
    font-weight: 800;
    width: 400px;
    margin-bottom: 18px;
}

.off {
    color: #E55473;
}

.bnr2-left-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 420px;
    margin-bottom: 25px;
}

.bnr2-pic {
    width: 250px;
    padding-right: 175px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Instagram section */
.insta {
    max-width: 1100px;
    margin: 100px auto auto auto;
    text-align: center;
}

.ins-ttl {
    color: #272727;
    font-size: 25px;
    /*same as hot deal */
    font-weight: 800;
}

#ins-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px; same as bnr2-p
    font-weight: 400;
    padding: 18px 275px 36px 275px;
}

.ins-img {
    display: flex;
}

.ins-img-s {
    width: 250px;
    height: 300px;
    margin: 0 auto;
}